/* overrides colors in Clean Blog */

/* this is all the main text color */
body {
  color: #fff;
}
.text-muted {
  color: #ddd;
}
a {
  color: #46e5ff;
}
.navbar-custom.is-fixed .navbar-brand {
  color: #ccc;
}
.navbar-custom.is-fixed .nav li a {
  color: #ccc;
}
.post-preview > .post-meta {
  color: lightgrey;
}
.post-preview > a {
  color: #ccc;
}
.post-preview > .post-meta > a {
  color: #ccc;
}
